<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Crime Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="background-overlay"></div>

<div class="container small-box">
    <h2 class="title">User Login</h2>

    <form action="/login" method="POST" class="form-box">

        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter email" required>
        </div>

        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required>
        </div>

        <button type="submit" class="submit-btn">Login</button>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </form>
</div>

</body>
</html>